@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --grey-background: #f2f2f2;
  --buttons: #636c76;
  --selection: #439fd9;
  --hide-grey: #c8c8c8;
  --texts: #3c454e;
  --white: #fff;
}

html {
  font-size: 62.5%;
  background-color: var(--texts);
}

body {
  background: var(--grey-background);
  font-family: "Roboto", sans-serif;
  height: 896px;
  width: 414px;
  border-radius: 30px;
  box-shadow: inset 4px 4px 4px rgba(0, 0, 0, 0.1),
    inset -4px -4px 6px 2px rgba(255, 255, 255, 0.8);
}

.wrapper {
  display: grid;
  grid-template-rows: 100px 464px 80px 100px auto;
  height: 100%;
  width: 340px;
  margin: 0 auto;
}

/* header */

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header div {
  width: 42px;
  height: 42px;
  box-shadow: -2px -2px 4px #ffffff, 2px 2px 4px rgba(0, 0, 0, 0.25);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header div:first-child img {
  height: 25px;
}

.header div:last-child img {
  height: 25px;
}

.header p {
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  color: var(--texts);
}

/* Cards section */

.cards {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.cards div:first-child {
  width: 340px;
  height: 340px;
  border-radius: 20px;
  box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.25),
    -10px -10px 15px rgba(255, 255, 255, 0.5);
  background-image: url("https://i.ibb.co/r3TwgvT/3d279d323a4f032e70b36e2dc32daf67.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.cards div p {
  text-align: center;
  margin: 0;
}

.cards div p:first-child {
  font-family: Roboto;
  font-weight: bold;
  font-size: 38px;
  line-height: 45px;
  color: var(--texts);
  margin-block-end: 10px;
}

.cards div p:last-child {
  font-family: Roboto;
  font-size: 24px;
  line-height: 28px;
  color: var(--buttons);
}

/* Progress Bar */

.progress-bar {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.progress-bar div:first-child {
  width: 100%;
  display: flex;
  height: 20px;
  align-items: center;
  position: relative;
}

.progress-bar div:first-child hr:first-child {
  height: 4px;
  width: 50%;
  border: 2px solid var(--selection);
  border-radius: 2px;
}

.progress-bar div:first-child hr {
  height: 4px;
  width: 50%;
  border: 2px solid var(--hide-grey);
  border-radius: 2px;
}

.progress-bar div div {
  background: var(--grey-background);
  border: 5px solid var(--selection);
  width: 20px;
  height: 20px;
  border-radius: 50%;
  box-shadow: -2px -2px 2px #ffffff, 2px 2px 2px rgba(0, 0, 0, 0.25),
    inset -4px -4px 2px #ffffff, inset 4px 4px 2px rgba(0, 0, 0, 0.25);
  position: absolute;
  left: calc(50% - 10px);
}

.progress-bar .time {
  display: flex;
  width: 100%;
  justify-content: space-between;
  margin-top: 10px;
}

.progress-bar .time p {
  font-size: 16px;
  line-height: 19px;
  font-weight: bold;
  color: var(--texts);
}

/* buttons */

.buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.buttons div {
  box-shadow: -4px -4px 10px #ffffff, 4px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.buttons img {
  max-width: 100%;
}

.buttons .option {
  width: 34px;
  height: 34px;
}

.buttons .option img {
  height: 16px;
}

.buttons .selection {
  width: 54px;
  height: 54px;
}

.buttons .selection img {
  height: 24px;
}

.buttons .play-pause {
  width: 88px;
  height: 88px;
}

.buttons .play-pause img {
  height: 36px;
  padding-left: 8px;
}

/* lyrics */

.lyrics {
  width: 100%;
  height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

.lyrics div:first-child {
  display: inherit;
  flex-direction: column;
}

.lyrics div img {
  height: 25px;
}

.lyrics div p {
  color: var(--hide-grey);
  font-size: 24px;
  line-height: 28px;
}

.lyrics div:last-child {
  width: 100%;
  height: 70px;
  background-color: var(--white);
  position: absolute;
  bottom: -35px;
  border-radius: 30px;
  box-shadow: inset -4px -4px 4px rgba(255, 255, 255, 0.25),
    inset 4px 4px 4px rgba(0, 0, 0, 0.1);
}
